.App {
  text-align: center;
}

#app-name{
  text-shadow:2px 2px #9c9ea1;
  color:white;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white
}

@media (max-width : 800px){
  .heading{
    padding-left: 25%;
  }
}
